@tailwind base;
@tailwind components;
@tailwind utilities;

/* It defines custom fonts "Poppins" and "Lora" using the @font-face rule, making them available to use in the project.  */
@layer base {
  @font-face {
    font-family: "Poppins";
    src: url(../public/fonts/Poppins-Regular.ttf);
  }

  @font-face {
    font-family: "Lora";
    src: url(../public/fonts/Lora-Italic.ttf);
  }
}

/* It also includes a utility class .section-min-height, which sets the minimum height of elements to ensure they take up most of the screen's vertical space. */

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 68px);
  }
}

input[type="checkbox"]:checked {
  background-color: #0e7490;
}
input[type="checkbox"]:checked:after {
  content: "\2713";
  color: white;
  top: 50%; /* Set top as a percentage */
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
input[type="checkbox"] {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 20px !important;
  height: 20px !important;
  appearance: none;
  border-radius: 10%;
  border: 1px solid #1f3374;
  box-shadow: none;
  font-size: 1em;
  position: relative;
}
